<!DOCTYPE html>
<html>
  <head>
    <title>Y</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar d-flex flex-wrap navbar-expand bg-dark px-3">
      <div class="container-fluid">
        <a class="navbar-brand text-light display-1" href="/">Y</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="container-l fixed-bottom bg-dark">
      <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="mb-3 mb-md-0 text-light">© 2024 Y, Vicente Giaconi Velasco. All rights reserved</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-light" href="#">GitHub <i class="bi bi-github"></i></a></li>
          <li class="ms-3"><a class="text-light" href="#">Instagram <i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="text-light" href="#">Whatsapp <i class="bi bi-whatsapp"></i></a></li>
          <li class="ms-3"><a class="text-light" href="#">Facebook <i class="bi bi-facebook"></i></a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
